.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
    background-color: #d2ba78;
    margin: 0;
}

.container, .container1 {
    text-align: center;
    padding: 30px;
}

.canvas1, .canvas2 {
    border: 2px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

#canvas1-img, #canvas2-img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 8px gray);
}

.changeColorBG:hover {
    background-color: #5d5839;
    
}
.changeColorBG {
    position: absolute;
    margin-top: 35%;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
.result{
    position: absolute;
    margin-top: 45%;
}
.game{
    position: absolute;
    top: 40%;
}

.draw{
    position: absolute;
    margin-top: 35%;
}
@media screen and (max-width: 768px) {
    .main {
        flex-direction: row;
    }

    #canvas1-img, #canvas2-img {
        width: 150px;
        height: 150px;
    }

    .game {
        font-size: 1.8rem;
    }

    .changeColorBG {
        padding: 8px 16px;
        font-size: 14px;
    }
    .result, .win, .draw {
        top: 110%;
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .main {
        flex-direction: row;
        padding: 10px;
    }

    .container, .container1 {
        padding: 10px;
    }

    #canvas1-img, #canvas2-img {
        width: 100px;
        height: 100px;
    }

    .game {
        top: 60%;
        font-size: 1.5rem;
    }

    .changeColorBG {
        top: 100%;
        padding: 6px 12px;
        font-size: 12px;
    }

    .result, .win, .draw {
        top: 100%;
        font-size: 1rem;
    }
}
